:root {
  --primary: #d45a3e;
  --bg: #efefef;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 180%;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--bg);
  color: #000000;
}

p,
ol,
li {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Navbar */
.navbar {
  transition: top 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #e47652;
  text-decoration: none;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration-line: none;
}

.navbar .navbar-nav a:hover {
  color: #d45a3e;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ea8c6d;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

@media (min-width: 769px) {
  #hamburger-menu {
    display: none;
  }
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 8%,
    rgba(148, 173, 215, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  margin: 0;
  font-size: 3rem;
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  line-height: 1.2;
}

.hero .content h2 {
  font-size: 2rem;
  color: #000000;
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 400;
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
}

.cta {
  border: none;
  display: inline-block;
  padding: 1rem 3rem;
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #d45a3e;
  text-decoration: none;
}

.hero .content .cta:hover {
  color: #fcd8cf;
  background-color: #b64931;
  transition: opacity 0.3s ease;
}

/* About Section */
.about {
  padding: 4rem 7% 2rem;
}

.about h2 {
  color: #244942;
  font-weight: normal;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  width: 1 1 45rem;
}

.about .row .about-img img {
  width: 95%;
}

.about .row .content {
  padding: 5px;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content h3 span {
  color: var(--primary);
  color: #d45a3e;
  font-weight: normal;
  font-weight: 500;
}

.about.row .content p {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
}

/* Values Section */
.values {
  padding: 4rem 7% 2rem;
  background-color: var(--bg);
}

.values h2 {
  color: #244942;
  font-weight: normal;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.values .visi h3 {
  color: #244942;
  font-weight: normal;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

.values .visi p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  text-align: justify;
}

.values .misi h3 {
  color: #244942;
  font-weight: normal;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

.values .misi li {
  font-size: 1.1xrem;
  margin-bottom: 0.5rem;
  font-weight: 100;
  text-align: justify;
}

.values .misi li span {
  font-size: 1.1xrem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* Catalog Section */
.catalog {
  padding: 8rem 7% 1.4rem;
}

.catalog h2 {
  color: #244942;
  font-weight: normal;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.catalog .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog .image {
  flex: 0 0 calc(30% - 0.5rem);
  margin-bottom: 2rem;
}

.catalog .gallery .image h3 {
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 10px;
}

.catalog .gallery .image p {
  text-align: center;
  color: #010101;
  padding-top: 8px;
  margin: 0;
  margin-bottom: 3rem;
}

.catalog .gallery .image {
  position: relative;
  /* display: inline-block;
  overflow: hidden; */
  width: 15rem;
  height: 20rem;
}

.catalog .gallery .first-image,
.catalog .gallery .second-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.catalog .gallery .image .second-image {
  opacity: 0;
}

.catalog .gallery .image:hover .second-image {
  opacity: 1;
}

/* Contact Section */
.contact {
  padding: 4rem 7% 2rem;
}

.contact h2 {
  color: #244942;
  font-weight: normal;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.contact .row {
  display: flex;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.contact .row .content h3 {
  color: #244942;
  font-weight: normal;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}

.contact .row .content p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: #e6d9cd;
  text-decoration: none;
  border: none;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  outline: none;
  background-color: #e6d9cd;
  border: none;
}

.contact .row form .input-group-mess textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #e6d9cd;
}

.contact .row form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: #000000;
  background-color: #e6d9cd;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* Footer */
.footer {
  background-color: #e6d9cd;
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 3rem;
  width: 100%;
}

.footer .socials {
  padding: 1rem 0;
}

.footer .socials a {
  color: #000000;
  margin: 1rem;
}

.footer .socials a:hover,
.footer .links a:hover {
  color: var(--primary);
}

.footer .links {
  margin-bottom: 1.4rem;
}

.footer .links a {
  color: #000000;
  padding: 0.7rem 1rem;
}

.footer .credit {
  font-size: 0.8rem;
  color: #000000;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000000;
    width: 30rem;
    height: 100vh;
    transition: right 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .about .row .content p {
    font-size: 1.3rem;
  }

  /* .catalog .gallery {
    flex-wrap: wrap;
  } */
  .catalog-container .product {
    width: 178px;
  }
  .contact .row {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Catalog Page */

.catalog-container {
  display: flex;
  padding: 1.4rem 7%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.catalog-type-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#view-all {
  color: #ea8c6d;
  text-decoration: none;
}

.product {
  padding: 10px;
  border: 1px solid #d4d4d4;
  width: 22%;
}

.catalog-discount {
  display: flex;
  height: 20px;
  padding: 3px 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--red, #e36709);
  color: #ffffff;
}

.catalog-collection {
  display: flex;
  height: 20px;
  padding: 3px 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--red, #4d897c);
  color: #ffffff;
}

.highlight {
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.7rem;
  align-items: center;
  align-self: stretch;
  gap: 10px;
}

.catalog-container h2 {
  margin: 1% 0%;
}

.catalog-container p {
  margin: 1% 0%;
  color: #9a9a9a;
  font-size: 11pt;
}

.catalog-container .image {
  flex: 0 0 calc(30% - 0.5rem);
  margin-bottom: 0.4rem;
}

.catalog-container .image {
  position: relative;
  overflow: hidden;
  width: 100%; /* Make the container take up the full available width */
  height: 250px;
}

.catalog-container .image-biasa {
  position: relative;
  margin-bottom: 0.4rem;
  overflow: hidden;
  width: 100%; /* Make the container take up the full available width */
  height: 250px;
}

.catalog-container .first-image,
.catalog-container .second-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.catalog-container .image .second-image {
  opacity: 0;
}

.catalog-container .product:hover .second-image {
  opacity: 1;
}

.catalog-container .price {
  font-family: "Playfair Display", serif;
  font-size: large;
  font-weight: 700;
  color: #4d897c;
}

.catalog-container .add-to-cart {
  font-family: "Playfair Display", serif;
  font-size: medium;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  padding-block: 10px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #d45a3e;
}

.catalog-container .add-to-cart:hover {
  background-color: #b64931;
}

/* About Us section */

.about-us-hero .image-about {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 40%; /* Make sure the image doesn't exceed the container's width */
  height: 100vh;
}

.image-about img {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-us-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e6d9cd;
}

.about-us-hero .about-text {
  padding: 10%;
  text-align: center;
  align-content: center;
}

.about-us-hero h1,
.our-team h1 {
  color: #244942;
  font-size: 2.5rem;
  line-height: normal;
}

.about-us-hero p,
.our-team h1 {
  line-height: 180%;
}

.our-team .row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.our-team .card {
  padding: 10px;
  border: 1px solid #d4d4d4;
  width: 25%;
}

.our-team .my-contact {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.our-team .row-contact {
  flex-direction: column;
  text-align: center;
  background-color: #e9e1dd;
  padding-top: 5px;
  padding-bottom: 20px;
}
